@{
    ViewBag.Title = "About";
    Layout = "";
}
<style>
    .headerText{
        width : 100%;
        height : 100%;
        background-color : red;
        text-align : center;
    }
</style>
<div class="headerText">
    <h3>Bộ Công an</h3>
    <h2>Cục Kỹ thuật nghiệp vụ</h2>
    <h1>HỘI NGHỊ</h1>
    <h2>Quán triệt chỉ thị số 9999/CT-TTg và <br />triển khai các biện pháp phòng, chống dịch COVID-19</h2>
    <p>Hà Nội, ngày 30 tháng 01 năm 2021</p>
</div>
